body { 
        font-family: Arial, sans-serif; 
        margin: 0; 
        padding: 0; 
        background: #f8f8f8; 
}        

h1 { margin-top: 0; }
.responsive_img { 
        max-width: 100%; 
        height: auto; 
        margin-bottom: 15px;
}

