
.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
    min-width: 100%;
    min-height: 100%;
    padding: 40px;
    margin-top: 0px;
    background-color: rgb(249, 249, 246);
    color: #100f0f;
}
header h1 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
}
h2{
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    color: #100f0f;
}
.introduction {
    background-color: #d9f0ff;
    border-radius: 20px;
    padding: 16px;
    text-align: center;

    h2 {
        font-size: 2rem;
    }
}

.description_box_contact{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px;
    border-radius: 20px;
    
    transition: all 0.3s ease;
    color :#100f0f;
}
fieldset {
    border-radius: 10px;
    margin-bottom: 16px;
}

.user-information {
    background-color: #f7f7fc;
    border-radius: 20px;
    margin-top: 24px;
    padding: 16px;
    color: #070707;
}

.user-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;    
    margin-bottom: 8px; 
    padding: 10px;
}

.required {
    display: inline-block;
}

.required::after {
    content: '*';
    color: red;
    display: inline-block;
}
.label {
    display:flex;
    gap: 5px;
    padding: 5px;  
}
textarea {
    display: block;
    width: 100%;
    height: 100px;
}



.submit {
    background-color: rgb(55, 55, 239);
    border: 1px solid #7681b3;
    border-radius: 10px;
    color: #d9f0ff;
    cursor: pointer;
    padding: 8px 16px;
}

.submit:hover {
    background-color: #d9f0ff;
    color: #64689c;
}



.contact_image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    
    object-fit: contain;
    max-height: 80vh;
}





.imgbox_contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
   
    
    padding: 20px;
   
    min-height: 400px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    
    .imgbox {
        margin-bottom: 20px;
    }
    
    .contact_image {
        max-width: 100%;
    }
}




